.row
  - markets = CryptoTrader::Model::Market.where(:secondary_currency_code => 'BTC').order(:primary_currency_code).all
  - markets.each_slice(markets.count / 3) do |mpart|
    .col-lg-4
      %ul.nav.nav-pills
        - mpart.each do |m|
          %li
            = link_to m.label, market_path(m.id)
