.row
  - markets = CryptoTrader::Model::Market.where(:secondary_currency_code => 'BTC').reverse_order(:investability).limit(12).all
  - markets.each_slice(markets.count / 3) do |mpart|
    .col-lg-4
      %ul.nav.nav-pills
        - mpart.each do |m|
          %li
            = link_to m.label, market_path(m.id)
