.jumbotron
  %h1 Crypto trader!
  %p 
    Private alternative crypto-currency trading platform
  %p 
    interested in investing using our trading bot, leave a message.
  %p
    %a.btn.btn-primary.btn-lg{:role => "button", :href => user_session_path} Login
