#market_chart{:style => "min-width: 380px; height: 705px; margin: 0 auto"}
:coffeescript
  $ ->
    $.getJSON "#{ data_market_path(@market.id) }", (data) ->

      # split the data set into ohlc and volume
      ohlc = []
      volume = []
      emas = []
      emal = []
      bidx = []
      signals = {}
      dataLength = data.length

      for e in data
        ohlc.push [e[0], e[1]]
        # the date
        volume.push [e[0], e[2]] 
        emas.push [e[0], e[3]] 
        emal.push [e[0], e[4]] 
        # ;bidxt0.push [e[0], 0.2] 
        # ;bidxt1.push [e[0], -0.2] 
        bidx.push [e[0], e[5]] 

        for [n, v] in e[6]
          signals[n] ||= []
          signals[n].push [e[0], v]

      signal_series = for n, sd of signals
        type: "line"
        name: n
        data: sd
        lineWidth: 1
        yAxis: 1

      $("#market_chart").highcharts "StockChart",
        rangeSelector:
          selected: 3
          buttons: [
            type: 'hour',
            count: 4,
            text: '4h'
          ,
            type: 'hour',
            count: 8,
            text: '8h'
          ,
            type: 'hour',
            count: 12,
            text: '12h'
          ,
            type: 'day',
            count: 1,
            text: '1d'
          ,
            type: 'day',
            count: 2,
            text: '2d'
          ,
            type: 'day',
            count: 3,
            text: '3d'
          ,
            type: 'day',
            count: 5,
            text: '5d'
          ,
            type: 'month',
            count: 1,
            text: '1m'
          ,
            type: 'month',
            count: 6,
            text: '6m'
          ,
            type: 'year',
            count: 1,
            text: '1y'
          ,
            type: 'all',
            text: 'All'
          ]

        title:
          text: "#{@market.label}"

        subtitle:
          text: "Average Trading Price / Volume"


        yAxis: [
          title:
            text: "AVG TP"
          height: 200
          lineWidth: 2
        ,
          title:
            text: "SIG"
          top: 290
          height: 200
          offset: 0
          max: 1
          min: -1
          lineWidth: 2
          plotLines: [
            id: 'limit-min',
            color: '#aaf',
            dashStyle: 'LongDash',
            width: 1,
            value: 0.2,
            zIndex: 0
          ,
            id: 'limit-max',
            color: '#aaf',
            dashStyle: 'LongDash',
            width: 1,
            value: -0.1,
            zIndex: 0
          ]
        ,
          title:
            text: "Volume BTC"
          top: 500
          height: 100
          offset: 0
          lineWidth: 2
        ]

        tooltip: 
          valueDecimals: 8

        series: [
          type: "line"
          name: "#{@market.primary_currency_code}"
          data: ohlc
          yAxis: 0
          lineWidth: 2
        ,
          type: "line"
          name: "EMA Short"
          data: emas
          yAxis: 0
          lineWidth: 1
        ,
          type: "line"
          name: "EMA Long"
          data: emal
          yAxis: 0
          lineWidth: 1
        ,
          type: "line"
          name: "Advisor"
          data: bidx
          lineWidth: 1
          yAxis: 1
        ].concat(signal_series).concat [
          type: "column"
          name: "Volume BTC"
          data: volume
          yAxis: 2
        ]

