#market_chart{:style => "min-width: 380px; height: 705px; margin: 0 auto"}
:javascript
  market_label = "#{market.label}"
:coffeescript
  root = exports ? this
  root.graph = new StockChart('#market_chart')
  root.graph.load(market_label)
