%h2 Accounts

%table.table
  %thead
    %tr
      %th Label
      %th Crytsy Pub Key
      %th Bot Runs
      %th Actions

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.crypto_trader_account.cryptsy_key_public
      %td= user.crypto_trader_account.bot_runs_dataset.count
      %td= link_to 'Login', become_account_path(user.id)
