%h4 
  Positions

= cache(['positions', @last_data_collector_run]) do
  = render 'positions', :positions => @portfolio.positions

%h4 Recent trades
= render 'shared/account_trades', :account_trades => @account_trades

